.idea
.reviewboardrc
.sass-cache
*.log
*.version
src/dynamic/scss/_pikaday.scss
node_modules/
target/
reports/
tests/reports/
src/static/json/
bower_components/
/*.jar
docs/
*.iml
*.pid
*.built.js
src/static/css/
*.module-cache